{% extends "index.html" %}
{%block conteudo%}
<h2 style="text-align: center;">Lista de Cinema</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Cinema</th>
            <th scope="col">Cidade</th>
            <th scope="col">Custo Entrada</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        {%for cinema in cinema%}
        <tr>
            <td>{{cinema.id}}</td>
            <td>{{cinema.nome}}</td>
            <td>{{cinema.cidade}}</td>
            <td>{{cinema.preco_entrada}}</td>
            <td><a href="{{cinema.id}}/atualiza_dica" class="btn btn-secondary btn-xs">Editar</a></td>
            <td><a href="{{cinema.id}}/excluir_dica" onclick="return confirm('Deseja excluir este registro?')"
                    class="btn btn-danger btn-xs">Excluir</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>

</table>
<br><br>
<a href="{{url_for('dicas')}}" class="btn btn-secondary"> Adicionar mais uma Dica </a>

{%endblock%}